#root {
    margin-top: 80px;
}

div.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px
}

div.container-body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;

}

.recipepageimg {
    border-radius: 10px;
}

div.displayRecipe {
    text-align: center;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

button.fullRecipe {
    padding: 10px;
    width: max-content;
}

button.searchNew {
    padding: 10px;
    width: max-content;
    margin-top: 20px;
}

.comments {
    margin-top: 80px;
    width: 100%;

}

.form {
    background: hsla(0, 0%, 100%, 0.741);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.formdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratingBox,
.nameBox {
    margin-bottom: 10px;
    height: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.ratingBox{
    width: 60px;
}

.nameBox {
    width: 400px;
}

.textBox {
    width: 400px;
    margin-right: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.commentBtn {
    align-self: center;
    margin-top: 10px;
    width: max-content;
    padding: 10px;
}


.comment {
    border: 3px solid orange;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.commentName {
    text-align: left;
    padding: 7px;
    font-style: bold;
}

.commentContent {
    font-style: italic;
    text-align: left;
    padding-top: 5px;
    padding-left: 7px;
    max-width: 95%;
    word-wrap: break-word;
    font-weight: 200;
    padding: 7px;
}

.commentRate {
    display: inline-block;
    padding: 7px;
}

.commentDate {
    float: right;
    text-align: right;
    padding: 7px;
}