body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;


  align-items: center;
  justify-content: center;

}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  display: flex;
  margin: 20px;
  font-weight: bold;
}

.foodlogo {
  padding: 5px;
  background-color: black;
  font-size: 2.5rem;
  color: white;
}

.hublogo {
  padding: 5px;
  color: black;
  font-size: 2.5rem;
  background-color: orange;
  border-radius: 5px;
}

.main {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 10px;
  align-items: center;
}

.searchbar {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
}

.searchbar:focus {
  outline: none;
}

button {
  font-size: 1.25rem;
  height: 80%;
  width: 70px;
  border: none;
  background-color: grey;
  border-radius: 10px;
}

button:hover {
  background-color: orange;

}

.recipelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

table {
  text-align: center;
  max-width: 200px;
  max-height: auto;
  border: 5px solid;
  border-radius: 10px;
}

table:hover {
  border-color: orange;
}

th img {
  border-radius: 5px;
}

